.chart-container {
  margin: 50px 0; /* Top and bottom margins */
  width: 100%; /* Full width */
}

.chart-title {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px; /* Space between title and chart */
  text-align: center; /* Center the title */
}

.chart-wrapper {
  display: flex;
  justify-content: center;
  width: 100%; /* Full width */
  margin: 0 0;
  box-sizing: border-box;
}

.color-bar {
  width: 40px; /* Increase width of the color bar */
  height: 240px; /* Height of the color bar to match chart height */
  background: linear-gradient(to top, red, orange, yellow, green); /* Gradient from red to green */
  margin-right: 10px; /* Space between color bar and chart */
  
}

.color-bar-gradient {
  height: 100%;
  width: 100%;
  background: linear-gradient(to top, red, orange, yellow, green); /* Gradient from red to green */
}

.chart {
  width: 680px; /* Increased width of the chart */
}
