.graph-container {
    margin: 50px 0; /* Top and bottom margins */
    width: 100%; /* Full width */
}

.graph-title {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px; /* Space between title and chart */
    text-align: center; /* Center the title */
}

.dropdown-wrapper {
    margin-bottom: 20px; /* Space between dropdown and chart */
    text-align: center; /* Center-align the dropdown */
}

.dropdown-wrapper label {
    font-size: 16px;
    margin-right: 10px;
}

.dropdown-wrapper select {
    padding: 5px;
    font-size: 16px;
}

.chart-wrapper {
    display: flex;
    justify-content: center;
    width: 100%; /* Full width */
    margin-bottom: 20px; /* Space between chart and controls */
    box-sizing: border-box;
}

.controls-wrapper {
    margin-top: 20px;
    text-align: center; /* Center-align the controls */
}

.controls-wrapper label {
    display: block;
    margin-bottom: 10px;
}

.controls-wrapper input {
    margin-left: 10px;
    padding: 5px;
    font-size: 16px;
}
