.bottom-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    padding: 15px 0;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); /* Added drop shadow */
    font-size: 10px;
  }
  

