.main-page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px; 
  }
  
  .centered-container {
    width: 80%;
    background-color: #f8f9fa;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

.graphs-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.graph {
  flex: 1;
  margin: 10px;
}
